<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442939360979-9hgppgdaedosrdjtv3r2uju3vjp1tt87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442939360979-9hgppgdaedosrdjtv3r2uju3vjp1tt87</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ_34EAyETOst2DBEc9PWhKr31bgEG9k8</string>
	<key>GCM_SENDER_ID</key>
	<string>442939360979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.imake.getx.ed.flutterFirebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>myapp-notify</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-notify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442939360979:ios:cb16c80b63ede8f93c7626</string>
</dict>
</plist>